{% extends "users/header.html" %}

{% block content %}

<div class="card bg-light" style="margin: 3% 2% 1%; height: 80vh;">
    <div class="card-body">
        {% load crispy_forms_tags %}

        <h1>Create a new offer</h1>

        <form method="post" class="offer-create-form d-flex flex-column" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-6">
                {{ form.title|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.image|as_crispy_field }}
                {{ form.price|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.shipping|as_crispy_field }}
                {{ form.district|as_crispy_field }}
                {{ form.subcategory|as_crispy_field }}
              </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success float-right">Create offer</button>
            </div>
          </form>
    </div>

</div>


{% endblock %}