{% extends "users/header.html" %}

{% block content %}

    <div style="margin: 3% 2% 1%; height: 80vh; background-color: #C4C4C4; font-size: large">
        <div style="display: flex; flex-direction: row; font-size: xx-large">
            <div>{{ offer.title }}, {{ district.name }} {{ city.name }}</div>
            <div style="position:absolute; right:5%;">${{ offer.price }}</div>
        </div>
        <br/>
        <div style="display: flex; flex-direction: row; height: 36%; overflow-x: auto;">
            {% for image in images %}
                <img style="object-fit: cover; height: 100%;" src="{{ image.base64_dump }}"/>
{#                <img style="object-fit: cover; height: 100%;" src="{{ image.base64_dump }}"/>#}
{#                <img style="object-fit: cover; height: 100%;" src="{{ image.base64_dump }}"/>#}
{#                <img style="object-fit: cover; height: 100%;" src="{{ image.base64_dump }}"/>#}
            {% endfor %}
            {% if images|length == 0 %}
                <img style="width: 200px; height: 100px; object-fit: contain" src="https://via.placeholder.com/700x400?text=placeholder" />
            {% endif %}
        </div>

        <div style="display: flex; flex-direction: row; height: 43vh; padding: 1vh">
            <div style="width: 75%; height: 100%">
                <div style="height: 60%;">
                    <div>Description:</div>
                    <div style="overflow: auto; height: 96%">{{ offer.description }}</div>
                </div>
                <br/>
                <div>
                    <div>Location:</div>
                    <div>{{ district.name }} {{ city.name }}, {{ country.name }}</div>
                </div>

            </div>
            <div style="padding-left: 1vw; padding-right: 1vw;">
                <div style=" height: 75%">
                    <div>Shipping options:</div>
                    <div>{{ offer.shipping }}</div>
                </div>
                <div style="display: flex; flex-direction: row; font-size: small">
                    <form method="post">
                        {% csrf_token %}
                        {% if isFavorite %}
                            <input type="submit" value="Remove favorite"/>
                        {% else %}
                            <input type="submit" value="Add to favorites"/>
                        {% endif %}
                        <input type="hidden" name="favorite">
                    </form>
                    <a style="height: fit-content; margin: 20px; background-color: white" href="{% url 'users:user_view' offer.owner_id %}">
                        Author's profile
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}