{% extends "users/header.html" %}

{% block content %}

    <div style="margin: 3% 2% 1%; height: 80vh; overflow-y: scroll; background-color: #C4C4C4; font-size: large">
        <div style="display: flex; flex-direction: row; font-size: xx-large">
            <span>{{ offer.title }}, {{ district.name }} {{ city.name }}</span>
            <div style="flex: 1; text-align: right; padding-right: 5%;">${{ offer.price }}</div>
        </div>
        <br/>
        <div style="display: flex; flex-direction: row; height: 36%; overflow-x: auto;">
            {% for image in images %}
                <img style="object-fit: cover; height: 100%;" src="{{ image.base64_dump }}"/>
                <img style="object-fit: cover; height: 100%;" src="{{ image.base64_dump }}"/>
                <img style="object-fit: cover; height: 100%;" src="{{ image.base64_dump }}"/>
                <img style="object-fit: cover; height: 100%;" src="{{ image.base64_dump }}"/>
            {% endfor %}
            {% if images|length == 0 %}
                <img style="width: 200px; height: 100px; object-fit: contain" src="https://via.placeholder.com/700x400?text=placeholder" />
            {% endif %}
        </div>

        <div style="display: flex; flex-direction: row; min-height: 40vh; padding: 1vh">
            <div style="flex: 3; box-sizing: border-box; display: flex; flex-direction: column; min-height: 38vh">
                <div style="flex: 1">
                    <div>Description:</div>
                    <div>{{ offer.description }}</div>
                </div>
                <br/>
                <div>
                    <div>Location:</div>
                    <div>{{ district.name }} {{ city.name }}, {{ country.name }}</div>
                </div>

            </div>
            <div style="flex: 1; box-sizing: border-box; display: flex; flex-direction: column; min-height: 38vh; padding-left: 1vw; padding-right: 1vw">
                <div style="flex: 1">
                    <div>Shipping options:</div>
                    <div>{{ offer.shipping }}</div>
                    <br>
                    <div>Contact info:</div>
                    <div>{{ contact_info }}</div>
                    <br>
                </div>
                <div style="display: flex; flex-direction: row; font-size: small">
                    <form method="post">
                        {% csrf_token %}
                        {% if isFavorite %}
                            <input type="submit" value="Remove favorite"/>
                        {% else %}
                            <input type="submit" value="Add to favorites"/>
                        {% endif %}
                        <input type="hidden" name="favorite">
                    </form>
                    <a style="height: fit-content; margin: 20px; background-color: white" href="{% url 'users:user_view' offer.owner_id %}">
                        Author's profile
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}