{# clicking this item should lead to details page... #}
<div class="offer-tile">
    <a href="{% url 'offers:offer_details_view' offer.pk %}">

        <img src="{{ image.base64_dump|default:"https://via.placeholder.com/700x400?text=placeholder" }}"/>

        <div class="info">
            <span>{{ offer.title }}</span>
            <h6>${{ offer.price }}</h6>
        </div>
    </a>

    {% if show_favorite_remove_button %}
        <form class="remove-favorite" method="post">
            {% csrf_token %}
            <input type="submit" name="favorite" value="✖"/>
            <input type="hidden" name="offer_id" value="{{ offer.pk }}"/>
        </form>
    {% endif %}
</div>